<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ .title }}</title>
    <!-- The data from theArticle["title"] -->
</head>
<body>
    <header>
        <h1 class="title">{{ .title }}</h1>
        <!-- The data from theArticle["title"] -->
        <hr>
    </header>
    <article>
        <p class="content">{{ .content }}</p>
        <!-- The data from theArticle["content"] -->
    </article>
    {{ template "footer" . }}
    <!-- This is how to place the layout component -->
</body>
</html>